{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {%
            include 'backend_home/includes/_booking_collapsible.html.twig' with
            {
                "bookings": bookings
            }
        %}
    </div>
{% endblock %}
{% block bodyscripts %}
    {{ parent() }}
    <script>
        {# Init collapsible #}
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}