{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <style>
        .collapsible-header .client-number {
            position: absolute;
            right: 3%;
        }

        .deleteBtn {
            cursor: pointer;
        }

        .editBtn {
            cursor: pointer;
        }

        {# Desktop #}
        @media only screen and (min-width: 992px) {
            .addBooking {
                position: absolute;
                right: 2%;
                top: 25%;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s12 m7 offset-m2">
            <h3 class="center-align">Reservas para hoy</h3>
            {% if todayBookings|length > 0 %}
            {%
                include 'backend/includes/_booking_collapsible.html.twig' with
                {
                    "bookings": todayBookings
                }
            %}
            {% else %}
                <h6 class="red-text center-align">No hay reservas para hoy</h6>
            {% endif %}
            <h3 class="center-align" style="position: relative">
                Próximas reservas
                <a class="waves-effect waves-light btn-small addBooking" href="{{ path('add_booking') }}">
                    <i class="material-icons right">add_box</i>
                    Añadir
                </a>
            </h3>
            {%
                include 'backend/includes/_booking_list.html.twig' with
                {
                    "bookings": bookings
                }
            %}
        </div>
        <div class="hide-on-small-only col m3 ">
            {%
                include 'backend/includes/_stats_sidebar.html.twig'
            %}
        </div>
    </div>
{% endblock %}
{% block bodyscripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible(); // Init collapsible

            $('.deleteClientBookingBtn').click(function () {
                const clientRow = $(this).closest("tr");
                const clientId = clientRow.data("client-id");

                const bookingHeaderRow = $(this).closest(".collapsible-body").siblings(".collapsible-header");
                const bookingId = $(this).closest(".collapsible-body").data("booking-id");

                confirmationToast("Seguro que quieres eliminar la reserva?")
                    .then((res) => {
                       if(res.isConfirmed) {
                           $.ajax({
                               url: '{{ path('delete_booking_client') }}',
                               type: 'POST',
                               data: {
                                   clientId,
                                   bookingId
                               }
                           }).done(function (res) {
                               $(clientRow).fadeOut(200, () =>{
                                   $(clientRow).remove();
                               });
                               removeClientCount(bookingHeaderRow);
                           }).fail(function (res) {
                               errorToast(res.responseJSON.message);
                           });
                       }
                    });
            });
        });
    </script>
    <script>
        function removeClientCount(row){
            const clientCountElement = $(row).find(".client-number sup");
            const clientCount = parseInt(clientCountElement.text()) - 1;
            clientCountElement.text(clientCount);
        }
    </script>
{% endblock %}