<ul id="slide-out" class="sidenav sidenav-fixed light-blue darken-3">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{{ asset('img/sidenav_background.jpg') }}">
            </div>
            <a href="#user"><img class="circle" src="{{ asset('img/logo_white.png') }}"></a>
            <a href="#name"><span class="white-text name">Reservas CTG</span></a>
            <a href="#email"><span class="white-text email"><i>Dare mighty things</i></span></a>
        </div>
    </li>
    <li><a class="waves-effect white-text" href="{{ path('backend_home') }}">Reservas</a></li>
    <li><a class="waves-effect grey-text text-lighten-1" href="#!" title="En progreso">Infecciones</a></li>
    <li><a class="waves-effect grey-text text-lighten-1" href="#!" title="En progreso">Estadísticas</a></li>
    <li><a class="waves-effect white-text text-lighten-1" href="{{ path('app_logout') }}" title="En progreso">Salir</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>