<table id="booking-list" class="highlight">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Diagnosticado</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for infection in infections %}
        <tr data-infection-id="{{ infection.id }}">
            <td>{{ infection.client.name }}</td>
            <td>{{ infection.diagnosedOn|date('d/m/Y') }}</td>
            <td>
{#                <a href="{{ path('edit_booking', { "infectionId":infection.id }) }}"  title="Editar"><i class="material-icons blue-text">create</i></a>#}
                <i class="material-icons red-text deleteBtn deleteInfectionBtn" title="Eliminar">delete</i>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>