<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Reservas CTG{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <style>
                /* Hide scrollbar for Chrome, Safari and Opera */
                body::-webkit-scrollbar {
                    display: none;
                }

                /* Hide scrollbar for IE, Edge and Firefox */
                body {
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;  /* Firefox */
                }

                .user-view .background img {
                    background-size: cover;
                    max-width: 300px;
                    filter: brightness(.5);
                }
            </style>
        {% endblock %}

        {% block headerscripts %}

        {% endblock %}
    </head>
    <body>
        {% if is_granted('ROLE_ADMIN') %}
            {% include 'includes/_sidenav.html.twig' %}
        {% endif %}
        {% block body %}{% endblock %}
        {% block bodyscripts %}
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script src="{{ asset('js/ToastUtil.js') }}"></script>
            <script>
                // Init sidebar
                $(document).ready(function(){
                    $('.sidenav').sidenav();
                });

                // Init date and time pickers
                $(document).ready(function(){
                    $('.datepicker').datepicker({
                        disableWeekends: true,
                        firstDay: 1,
                        showClearBtn: true,
                        format: "dd/mm/yyyy",
                        i18n: {
                            cancel: "Cancelar",
                            clear: "Limpiar",
                            ok: "Aceptar",
                            months: [
                                "Enero",
                                "Febrero",
                                "Marzo",
                                "Abril",
                                "Mayo",
                                "Junio",
                                "Julio",
                                "Agosto",
                                "Septiembre",
                                "Octubre",
                                "Noviembre",
                                "Diciembre"
                            ],
                            monthsShort: [
                                "Ene",
                                "Feb",
                                "Mar",
                                "Abr",
                                "May",
                                "Jun",
                                "Jul",
                                "Ago",
                                "Sep",
                                "Oct",
                                "Nov",
                                "Dec"
                            ],
                            weekdays: [
                                "Lunes",
                                "Martes",
                                "Miércoles",
                                "Jueves",
                                "Viernes",
                                "Sábado",
                                "Domingo"
                            ],
                            weekdaysShort: [
                                "Lun",
                                "Mar",
                                "Mie",
                                "Jue",
                                "Vie",
                                "Sab",
                                "Dom"
                            ],
                            weekdaysAbbrev: ['D','L','M','M','J','V','S']
                        }
                    });
                });

                $(document).ready(function(){
                    $('.timepicker').timepicker({
                        showClearBtn: true,
                        twelveHour: false,
                        i18n: {
                            cancel: "Cancelar",
                            clear: "Limpiar",
                            done: "OK"
                        }
                    });
                });

                $(document).ready(function(){
                    $('.modal').modal();
                    $('.dropdown-trigger').dropdown({
                        constrainWidth: false,
                        coverTrigger: false,
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
