<h3 class="center-align">Estadísticas</h3>
<div class="z-depth-2 valign-wrapper" style="height: 80vh; border-radius: 15px">
    <h4 class="red-text center-align" style="width: 100%">(Panel en progreso)</h4>
</div>